
.rdp-day {
    padding: 20px 0 !important;
    height: 60px !important;
    line-height: 60px !important;
    font-size: 1.1rem;
  }
  
  /*선택된 날짜*/
  .rdp-day_selected, .rdp-day_selected:focus {
    height: 60px !important;
    line-height: 60px !important;
  }
  
  .rdp {
    padding-bottom: 40px;
  }
  
  /*캘린더의 주 헤더 글씨 크기*/
  .rdp-caption_label, .rdp-head_cell {
    font-size: 1.1rem;
  }
  